.text1{
    background-color: rgb(0, 0, 0);
}
.text1{
    text-align: center;
}

.text2{
background-color:  black; width:50%;
text-align: center          
}
.text3{
    background-color:whitesmoke ;
}
.text7{
    color: red;
}